.fw-semibold{
    margin-left: 25px;
}



h1{
    margin: 20px;
}

section{
    height: 1000px;
   
}

.background-color-1{
    background-color: #2D2424;
}

.background-color-2{
    background-color: #5C3D2E;
}


.background-color-3{
    background-color: #B85C38;
}

.background-color-4{
    background-color: #E0C097;
}

.text-color-1{
    color: #2D2424;
}

.text-color-2{
    color: #5C3D2E;
}


.text-color-3{
    color: #B85C38;
}

.text-color-4{
    color: #E0C097;
}


